# Alias definitions
# ssh aliases
alias tiger='ssh z1764034@tiger.cs.niu.edu'
alias hopper='ssh z1764034@hopper.cs.niu.edu'
alias turing='ssh z1764034@turing.cs.niu.edu'
alias flick='ssh luckierdodge@flick.cs.niu.edu'
alias bailey='ssh luckierdodge@bailey.cs.niu.edu'
alias hopcroft='ssh luckierdodge@hopcroft.cs.niu.edu -p 11122'
alias hartley='ssh luckierdodge@hartley.cs.niu.edu'
alias shatterdome='ssh luckierdodge@10.156.210.33'
alias flickjupyter='ssh -N -f -M -S /tmp/flickjupyter-sock -L 8888:localhost:8888 luckierdodge@flick.cs.niu.edu flickjupyter'
alias killflickjupyter='ssh -S /tmp/flickjupyter-sock -O exit flickjupyter'
alias flicktensorboard='ssh -N -f -M -S /tmp/flicktensorboard-sock -L 6006:localhost:6006 luckierdodge@flick.cs.niu.edu flicktensorboard'
alias killflicktensorboard='ssh -S /tmp/flicktensorboard-sock -O exit flicktensorboard'
alias cooley='ssh rlewis@cooley.alcf.anl.gov'
alias mira='ssh rlewis@mira.alcf.anl.gov'
alias theta='ssh rlewis@theta.alcf.anl.gov'
alias vesta='ssh rlewis@vesta.alcf.anl.gov'
alias cetus='ssh rlewis@cetus.alcf.anl.gov'
alias droppod='ssh pi@192.168.1.25'

# ls and grep color support
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# more ls aliases
alias ll='ls -alhFo'
alias la='ls -A'
alias l='ls -CF'
alias ls='ls --color=auto'

# tmux session alias
alias newmux='tmux new -s Home'
alias oldmux='tmux a -t Home'

# Upgrading
alias update='sudo apt update -y && sudo apt upgrade -y'

# Docker aliases
alias dockerkillall='docker rm $(docker ps -aq)'

# Wake-On-LAN aliases
alias wol_poa='sudo etherwake -i eth0 D8:CB:8A:9F:5F:12'
