# Alias definitions
# terminal ease of use
cdl() {
	cd "$1"
	ls --color=auto
}

# ssh aliases
# ssh for NIU resources
alias tiger='ssh z1764034@tiger.cs.niu.edu'
alias hopper='ssh z1764034@hopper.cs.niu.edu'
alias turing='ssh z1764034@turing.cs.niu.edu'
alias flick='ssh luckierdodge@flick.cs.niu.edu'
alias flickjupyter='ssh -N -f -M -S /tmp/flickjupyter-sock -L 8888:localhost:8888 luckierdodge@flick.cs.niu.edu flickjupyter && echo "Success! Connect to http://localhost:8888."'
alias baileyjupyter='ssh -N -f -M -S /tmp/baileyjupyter-sock -L 9999:localhost:9999 luckierdodge@bailey.cs.niu.edu baileyjupyter && echo "Success! Connect to http://localhost:9999"'
alias killflickjupyter='ssh -S /tmp/flickjupyter-sock -O exit flickjupyter'
alias killbaileyjupyter='ssh -S /tmp/baileyjupyter-sock -O exit baileyjupyter'
alias bailey='ssh luckierdodge@bailey.cs.niu.edu'
alias hopcroft='ssh luckierdodge@hopcroft.cs.niu.edu -p 11122'
alias hartley='ssh luckierdodge@hartley.cs.niu.edu'
alias karlin='ssh luckierdodge@karlin.cs.niu.edu'
#alias shatterdome='ssh luckierdodge@10.156.210.33'
alias shatterdome='ssh luckierdodge@shatterdome.ryandlewis.dev'
alias shatterdome-ip='ssh luckierdodge@192.168.0.169'
alias karlin='ssh luckierdodge@karlin.cs.niu.edu'
alias quee='ssh luckierdodge@quee.cs.niu.edu'

# ssh for ALCF resources
alias cooley='ssh rlewis@cooley.alcf.anl.gov'
alias mira='ssh rlewis@mira.alcf.anl.gov'
alias theta='ssh rlewis@theta.alcf.anl.gov'
alias vesta='ssh rlewis@vesta.alcf.anl.gov'
alias cetus='ssh rlewis@cetus.alcf.anl.gov'

# ssh for local resources
alias replicator='ssh pi@replicator.ryandlewis.dev'
alias replicator-ip='ssh pi@192.168.0.127'
alias havoc='ssh luckierdodge@havoc.ryandlewis.dev'
alias havoc-ip='ssh luckierdodge@192.168.0.117'
alias bigbox='ssh luckierdodge@bigbox.ryandlewis.dev'
alias bigbox-ip='ssh luckierdodge@192.168.0.144'
alias riskrunner='ssh luckierdodge@riskrunner.ryandlewis.dev'
alias riskrunner-ip='ssh luckierdodge@192.168.0.154'
alias ark='ssh luckierdodge@ark.ryandlewis.dev'
alias ark-ip='ssh luckierdodge@192.168.0.178'
alias triskelion='ssh root@192.168.0.186'

# ls and grep color support
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# more ls aliases
alias ll='ls -alhFo'
alias la='ls -A'
alias l='ls -CF'
alias ls='ls --color=auto'

# tmux session alias
alias homemux='tmux new -A -s Home'
alias homemuxnew='tmux new -A -s Home \; new-window'

# Updating and Upgrading
alias update='sudo apt update -y && sudo apt upgrade -y'
alias update-ding='sudo apt update -y && sudo apt upgrade -y && ding'
alias updateprotonvpn='sudo pip3 install protonvpn-cli --upgrade'
alias fixtime='sudo ntpdate time.windows.com'

# Docker aliases
alias dc="docker-compose"
alias dcupdate="docker-compose pull && docker-compose down && docker-compose up -d"
alias dockerkillall='docker rm $(docker ps -aq)'
alias dockerisaac='docker run --mount source=isaac-sdk-build-cache,target=/root -v `pwd`:/src/workspace -w /src/workspace --runtime=nvidia -it isaacbuild:latest /bin/bash'

# Wake-On-LAN aliases
alias wol_poa='sudo etherwake -i eth0 D8:CB:8A:9F:5F:12'

# Fun terminal stuff
alias ding='paplay /usr/share/sounds/freedesktop/stereo/complete.oga'
alias say='echo "$1" | espeak -v mb-us1'

# Rover and ROS Aliases
alias roverlaunch='/home/luckierdodge/repos/Dockerfiles/ros2_foxy/launch.sh'
alias roverattach='/home/luckierdodge/repos/Dockerfiles/ros2_foxy/attach.sh'
alias rosdepupdate='rosdep update && rosdep install -i --from-path ~/dev_ws/src --rosdistro foxy -y'
